<!-- Assegure-se de que o arquivo CSS externo esteja incluído no seu layout principal, por exemplo: -->
<!-- <link rel="stylesheet" href="/path/to/styles.css"> -->
<%= stylesheet_link_tag 'cards/cards_card', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="card" data-card-id="<%= card.id %>" style="background-color: #22272B;">
  
  <!-- Círculo azul no canto superior -->
<div class="priority_circle" 
  style="background-color: 
    <% if card.priority == 1 %>
      rgb(4, 51, 77);;
    <% elsif card.priority == 2 %>
      rgb(56, 122, 158);
    <% elsif card.priority == 3 %>
      rgb(131, 198, 235);
    <% else %>
      #6f6f6f;
    <% end %>;"
  title="<% if card.priority == 3 %>
            Prioridade Alta
          <% elsif card.priority == 2 %>
            Prioridade Média
          <% elsif card.priority == 1 %>
            Prioridade Baixa
          <% else %>
            Sem Prioridade
          <% end %>">
</div>

  <div class="card-content">
    
    <h4 class="card-title">

      <span class="title-text"><%= card.title %></span>
    </h4>
    
    <div class="card-info">
          <% if current_user.show_card_mood %>

      <p>
        <strong>Humor pra realizar:</strong> 
        <%= card.mood&.name ? "#{card.mood.name} #{card.mood_source == 'ai_suggested' ? '(sugerido por IA)' : ''}" : 'Não definido' %>
      </p>
      <% end %>

      <% if due_info.present? && current_user.show_card_due_date  %>
        <p>
          <strong><%= due_label %>:</strong> <%= due_info %>
        </p>
      <% end %>
      
      <% if card.priority? && current_user.show_card_priority  %>
        <p>
          <strong>Prioridade:</strong>
          <% if card.priority == 3 %>
            Alta
          <% elsif card.priority == 2 %>
            Média
          <% elsif card.priority == 1 %>
            Baixa
          <% else %>
            Sem Prioridade
          <% end %>
        </p>
      <% end %>
    </div>
    
  <!-- Tags -->
  <% if card.tags.any? %>
    <div class="tags">
      <% card.tags.each do |tag| %>
        <span class="custom-badge"><%= tag.name %></span>
      <% end %>
    </div>
  <% end %>

    
  </div>

  <!-- Ações do Cartão -->
  <div class="card-actions">
      <button class="complete-card-button" title="Concluir" 
        style="display: <%= is_last_column ? 'none' : 'block' %>;">
        <i class="bi bi-check-circle" style="color: white;"></i>
      </button>
      <button class="edit-card-button" title="Editar">
        <i class="bi bi-pencil-square" style="color: white;"></i>
      </button>
    <button class="delete-card-button" title="Excluir">
      <i class="bi bi-trash" style="color: white;"></i>
    </button>
  </div>
  
</div>
