<!-- app/views/boards/index.html.erb -->
<div class="mood-selection mb-4">
  <h2>Como você está se sentindo hoje?</h2>
  <%= form_with url: create_daily_board_boards_path, method: :post, remote: true, html: { id: 'daily-board-form' } do %>
    <div class="form-group">
      <%= select_tag :mood_id, options_from_collection_for_select(Mood.all, :id, :name), prompt: 'Selecione seu humor', class: 'form-control', id: 'mood-selector', required: true %>
    </div>
    <%= submit_tag 'Criar Board Diário', class: 'btn btn-primary mt-2' %>
  <% end %>
</div>
<!-- app/views/boards/produtividade.html.erb -->
<h1>Produtividade do Board: <%= current_user.name %> 10/50 cards completos</h1>

<div id="tasks-chart">
  <%= line_chart @cards_by_day, 
      xtitle: "Dias", 
      ytitle: "Tarefas Completadas", 
      title: "Tarefas Completadas por Dia",
      library: {
        scales: {
          x: { 
            type: 'time', 
            time: { unit: 'day' },
            title: { display: true, text: 'Dias' }
          },
          y: {
            beginAtZero: true,
            ticks: { precision: 0 },
            title: { display: true, text: 'Tarefas Completadas' }
          }
        }
      } 
  %>
</div>



<script>
  document.addEventListener('DOMContentLoaded', function() {
    var moodSelector = document.getElementById('mood-selector');

    // Adicionar um listener para a mudança de humor
    moodSelector.addEventListener('change', function() {
      var moodId = this.value;

      // Verificar se um humor foi selecionado
      if (moodId) {
        // Enviar requisição AJAX para atualizar o humor do usuário
        fetch('/users/update_mood', {
          method: 'PATCH',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
          },
          body: JSON.stringify({ mood_id: moodId })
        })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            console.log('Humor atualizado com sucesso:', data.mood);
          } else {
            alert('Erro ao atualizar o humor: ' + data.error);
          }
        })
        .catch(error => {
          console.error('Erro:', error);
        });
      }
    });
  });
</script>


<h1>Boards</h1>

<div class="board-container">
  <!-- Card para adicionar novo board -->
  <div class="board-card new-board-card">
    <%= link_to new_board_path, class: 'board-link' do %>
      <div class="card-body">
        <i class="bi bi-plus-lg" aria-label="Adicionar Novo Board"></i>
      </div>
    <% end %>
  </div>

  <!-- Cards dos boards existentes -->
  <% @boards.each do |board| %>
    <div class="board-card">
      <%= link_to board_path(board), class: 'board-link' do %>
        <div class="card-body">
          <h5 class="card-title"><%= board.title %></h5>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
