<!-- app/views/boards/index.html.erb -->
<%= stylesheet_link_tag 'boards/boards_index', media: 'all', 'data-turbolinks-track': 'reload' %>

<div>
  
  <% if current_user.show_daily_board && @daily_board.present? %>
    <%= render 'mood/mood_selection' %>
    <div style="height: 20px" id="mood-message-above-section"></div>
    <%= render 'mood/mood_message_section' %>
  <% end %>
  
  <!-- Seção do Gráfico de Cards (Board Diário) -->
  <%= render 'graph_card/graph_cards' %>
  
  <!-- Seção de Boards Existentes -->
  <%= render 'boards/list' %>
  
  <!-- Seção do Board Diário -->
  <% if current_user.show_daily_board && @daily_board.present? %>
    <h2>Tarefas diárias - <%= Utils::DateService.today.strftime('%d/%m') %></h2>
    
    <!-- Mensagem Informativa com Link para Editar Humor -->
    <div class="edit-mood-message alert alert-info d-flex align-items-center" role="alert" style="margin: 0px 20px 0px 20px;">
      <span>
        O board diário foi criado a partir do seu humor diário. Você pode <a href="#" id="edit-mood-button" class="alert-link">alterar seu humor diário e gerar um novo board</a>.
      </span>
    </div>
    <div class="board-container">
      <!-- Card do Board Diário Existente -->
      <div class="board-card">
        <%= link_to board_path(@daily_board), class: 'board-link' do %>
          <div class="card-body">
            <h5 class="card-title"><%= @daily_board.title %></h5>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  
  <!-- Seção dos Últimos Acessados -->
  <% if current_user.show_recent_boards && @last_accessed_boards.exists? %>
    <h2>Últimos acessados</h2>
    <div class="board-container">
      <%= render partial: 'boards/card', collection: @last_accessed_boards, as: :board %>
    </div>
  <% end %>
  
  <!-- Seção dos Mais Acessados -->
  <% if current_user.show_popular_boards && current_user.boards.active.exists? %>
    <h2>Mais acessados</h2>
    <div class="board-container">
      <%= render partial: 'boards/card', collection: current_user.boards.active.order(access_count: :desc), as: :board %>
    </div>
  <% end %>
  
</div>

<!-- Incluir o partial de scripts -->
<%= render 'scripts' %>
