<!-- app/views/boards/_column.html.erb -->
<div class="column" data-board-item-id="<%= item.id %>" style="background-color: #101204; padding: 10px;<%= 'width: 600px;' if @board.title.include?('Board Diário') %>">
  <div class="column-header">
    <h3>
      <span class="column-name" data-column-id="<%= item.id %>"><%= item.name %></span>
    </h3>
    <% unless @board.title.include?('Board Diário') %>
      <button class="delete-column-button" data-column-id="<%= item.id %>" title="Excluir Coluna" data-board-item-id="<%= item.id %>">
        <i class="bi bi-trash" style="color: white;"></i>
      </button>
    <% end %>
  </div>
  <div class="column-content">
    <div class="cards">
      <% if @board.title.include?('Board Diário') %>
        <!-- Exibir os cards na primeira ou segunda coluna do Board Diário -->
        <!-- Primeira Coluna: Cards filtrados por humor -->
        <% if @board.board_items.first == item %>
          <% @daily_board_cards.each do |card| %>
            <%= render 'cards/card', 
                card: card, 
                due_info: card.due_date.present? ? card.due_date.strftime('%d/%m/%Y') : nil, 
                due_label: 'Vencimento',
                is_last_column: item.id == last_column_id 
                %>
          <% end %>
        <!-- Segunda Coluna: Todos os cards finalizados hoje -->
        <% elsif @board.board_items.second == item %>
          <% Card.where(completed_at: Utils::DateService.today.all_day, completed: true).each do |card| %>
            <%= render 'cards/card', 
                card: card, 
                due_info: card.completed_at.strftime('%d/%m/%Y %H:%M'), 
                due_label: 'Completado em',
                is_last_column: item.id == last_column_id 
                %>
          <% end %>
        <% end %>
      <% else %>
        <!-- Para boards normais, exibe os cards normalmente nas colunas -->
        <% item.cards.order(:position).each do |card| %>
          <%= render 'cards/card', 
              card: card, 
              due_info: card.due_date.present? ? card.due_date.strftime('%d/%m/%Y') : nil, 
              due_label: 'Vencimento',
              is_last_column: item.id == last_column_id 
              %>
        <% end %>
      <% end %>
    </div>
    <% unless @board.title.include?('Board Diário') %>
      <%= render 'cards/new', board: @board, item: item %>
    <% end %>
  </div>
</div>
