<div class="column" data-board-item-id="<%= item.id %>" style="<%= 'width: 600px;' if @board.daily_board?%>;">
  <div class="column-header">
    <h3>
      <span class="column-name" data-column-id="<%= item.id %>"><%= item.name %></span>
    </h3>
    <% unless @board.daily_board? %>
    <!-- Ícone de Lixeira para remover a coluna -->
    <button class="delete-column-button" data-column-id="<%= item.id %>" title="Excluir Coluna" data-board-item-id="<%= item.id %>">
      <i class="bi bi-trash" style="color: white"></i>
    </button>
    <% end %>
  </div>
  <div class="column-content">
    <div class="cards">
      <% if @board.daily_board? %>
        <!-- Exibir os cards na primeira ou segunda coluna do Board Diário -->
        <!-- Primeira Coluna: Cards filtrados por humor -->
        <% if @board.board_items.first == item %>
          <% @daily_board_cards.each do |card| %>
            <%= render 'cards/card', 
              card: card, 
              due_info: card.due_date.present? ? card.due_date.strftime('%d/%m/%Y') : nil, 
              due_label: 'Vencimento',
              is_last_column: item.id == last_column_id 
            %>
          <% end %>
        <!-- Segunda Coluna: Todos os cards finalizados hoje -->
        <% elsif @board.board_items.second == item %>
          <% Card.where(completed_at: Utils::DateService.today.all_day).each do |card| %>
            <%= render 'cards/card', 
              card: card, 
              due_info: card.completed_at.strftime('%d/%m/%Y %H:%M'), 
              due_label: 'Completado em',
              is_last_column: item.id == last_column_id 
            %>
          <% end %>
        <% end %>
      <% else %>
        <!-- Para boards normais, exibe os cards normalmente nas colunas -->
        <% item.cards.order(:position).each do |card| %>
          <%= render 'cards/card', 
            card: card, 
            due_info: card.due_date.present? ? card.due_date.strftime('%d/%m/%Y') : nil, 
            due_label: 'Vencimento',
            is_last_column: item.id == last_column_id 
          %>
        <% end %>
      <% end %>
    </div>

    <% unless @board.daily_board? %>
    <!-- Formulário oculto para adicionar um novo card -->
    <div class="new-card-form" style="display: none;">
      <%= form_with(model: Card.new, url: board_board_item_cards_path(@board, item), html: { class: 'create-card-form' }) do |form| %>
        <div class="field mb-3">
          <%= form.text_field :title, placeholder: "Título do card", class: 'form-control card-title-input custom-input', required: true %>
        </div>
      <% end %>
    </div>
    <!-- Botão para adicionar um novo card -->
    <div class="add-card-button">
      <a href="#" class="show-new-card-form">
        <div class="card new-card" style="background-color: #181C1F">
          <i class="bi bi-plus-lg" style="color: white"></i>
        </div>
      </a>
    </div>
    <% end %>
  </div>
</div>
