<div class="column" 
     data-board-item-id="<%= item.id %>" 
     style="<%= board_column_width(@board) %>">
  
  <%= render 'board_items/header', item: item, board: @board %>
  
  <div class="column-content">
    <%= render 'cards/new', board: @board, item: item unless @board.daily_board? %>
    <% last_column_id = @board.board_items.last.id %> 

    <div class="cards">
      <%= render 'board_items/cards_content', 
          board: @board,
          item: item, 
          daily_board_cards: @daily_board_cards,
          completed_cards_today: @completed_cards_today,
          last_column_id: last_column_id 
      %>
    </div>
  </div>
</div>
